<h1 id="full-stack-framework-learning-project">Full-Stack Framework Learning Project</h1>
<h2 id="-goal">🎯 Goal</h2>
<p>This project is focused on learning <strong>Angular, React, and Vue.js</strong> from scratch by implementing the same frontend using all three frameworks.<br>The first I&#39;m working with is <strong>Angular</strong>.<br>This is a <strong>very work in progress</strong> repository and may contain unintentional mistakes.</p>
<h2 id="-why-">🤷 Why?</h2>
<p>No real reason—just for fun and learning!</p>
<h2 id="-tech-stack">🏗️ Tech Stack</h2>
<ul>
<li><strong>Backend</strong>: ASP.NET Web API</li>
<li><strong>Frontend</strong>: Angular | React | Vue.js</li>
</ul>
<h2 id="-future-plans">🚀 Future Plans</h2>
<p>This repository will be built in a <strong>monolithic architecture</strong> and later on it will have a <strong>microservices-based sibling</strong> with the most preferred framework, where additional features like <strong>payment systems, shopping cart, and more</strong> will be introduced.</p>
